body{
	overflow-x: hidden;
}
#travianBotPanel{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	color: #000;
	z-index: 1000000;
	width: 220px;
	transform: translate3d(-230px, 0, 0);
	transition: 0.5s ease-in-out;
	border: 5px solid #cdb07d;
}
#travianBotPanel.active{
	transform: translate3d(0, 0, 0);
}
#buildingsButton{
	position: absolute;
	top: -5px;
	right: -30px;
	width: 25px;
	height: 100px;
	background: #911117;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}
#hrefLink{
	color: #fff;
	position: absolute;
	right: 5px;
	padding: 3px;
	margin-top: -20px;
	display: block;
}
#hrefLink img{
	width: 17px;
	height: 17px;
}
#travianBotBuildings ul li{
	background: #f6f2e6;
	padding: 8px 0 8px 15px;
	margin: 0;
}
#travianBotBuildings ul li:nth-child(even){
	background: #efecdb;
}
#travianBotBuildings ul li p{
	margin: 0;
}
#travianBotBuildings ul{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 0;
}
#travianBotTaskPanel{
	position: absolute;
	top: 0;
	right: 0;
	width: 280px;
	height: 500px;
	background: #00733f;
	color: #fff;
	transform: translate3d(280px, 0, 0);
	transition: 0.5s ease-in-out;
	z-index: 1000000;
}
#travianBotTaskPanel.active{
	transform: translate3d(0, 0, 0);
}